body {
    font-family: arial;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

.container {
    object-fit:scale-down;
    display:flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

img {
    flex: 0 0 50%
}