body {
    font-family: arial;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

.container {
    /* object-fit:scale-down;*/
    justify-content: space-evenly;
    display: flex;
    flex-flow: row wrap;
}

.im {
    width: 536px;
    height: 306px;
    flex: 0 0 50%;
}